@{
    ViewData["Title"] = "Home Page";
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/action.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <select name="clients" id="clients">
        <option value="">SELECT A CLIENT</option>
        <option value="ClientA">CLIENT A</option>
        <option value="ClientB">CLIENT B</option>
        <option value="Both">BOTH</option>
    </select>
    <input type="button" id="btnSubmit" value="SUBMIT"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
